@use '../../assets/styles/displays';
@use '../../assets/styles/mixins';

.plays{
    @extend %center-display;
    
    .playsContent {
        @extend %layout-width;
        position: relative;
        padding: 5rem 5rem 25rem 5rem;

        &__text {
            text-align: right;
            margin-bottom: 3rem;
            
            h1 {
                @extend %h1-style;
            }
            
            h2 {
                font-size: 4rem;
                margin-top: -20rem;
                margin-bottom: .5rem;
            }

            p {
                font-size: 1.1rem; 
                line-height: 1.5
            }
        }

        &__plays {
            @include mixins.flex-content(flex, none, center, center);

            .playContent__wrapper {    
                &__video {
                    position: relative;            
                    width: 420px;
                    border-radius: .5rem;
                }
            }

            .slider__controller {
                @include mixins.flex-content(flex, none, space-between, center);
                position: absolute;
                bottom: 18rem;

                .btnPrev, .btnNext {
                    @include mixins.flex-content(flex, none, none, center);
                    cursor: pointer;
                    margin: 0 1.25rem;
                    padding: .5rem;
                    font-size: 2rem;
                    background-color: #2a2a2a;
                    transition: .5s;

                    &:hover {
                        background-color: #222;
                    }
                }
            }
        }

        .buttons {
            margin-top: 4rem;
            text-align: center;

            &__style {
                background-color: #1B1B1B;
                width: 40px;
                height: 40px;
                cursor: pointer;
                margin: 0 .5rem;
            }
        }
    }
}

@include mixins.tablet-screen {
    .plays {    
        .playsContent {
            overflow-x: hidden;

            &__text {
                h2 {
                    margin-top: -11rem;
                    font-size: 3rem; 
                }
            }
        }
    };
}

@include mixins.mobile-screen {
    .plays {
        .playsContent {
            padding: 10rem 1.5rem;

            &__text {
                text-align: center;

                h2 {
                    font-size: 1.8rem;
                    margin-top: -6rem;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 1rem;
                    padding: 0 1.5rem;
                }
            }
            
            &__plays {
                .slider__controller {
                    bottom: 3rem;
                }
            }
        }
    }
}