@use '../../assets/styles/displays';
@use '../../assets/styles/mixins';
@use '../../assets/styles/components';

.plays{
    @extend %center-display;
    
    .playsContent {
        position: relative;
        padding: 2rem 5rem 25rem 5rem;
        @extend %layout-width;

        &__text {
            text-align: right;
            margin-bottom: 3rem;
            
            h1 {
                @extend %h1-style;
                @include mixins.h1-spacing(8.4rem, 35.5vw, 235rem, -8rem);
            }
            
            h2 {
                @include mixins.h2-spacing(1.8rem, 4vw, 5rem, 1rem, -20rem);
            }

            p {
                font-size: clamp(.85rem, 1.1vw, 1rem); 
            }
        }

        &__plays {
            @include mixins.flex-content(flex, none, center, center);

            img:nth-child(odd) {
                width: clamp(3rem, 22vw, 20rem);
                z-index: -1;
            }

            img:nth-child(1){
                margin-right: -5rem;
            }
            
            img:nth-child(2) {
                width: clamp(18rem, 35vw, 27rem);
            }

            img:nth-child(3){
                margin-left: -5rem;
            }
        }

        .buttons {
            margin-top: 4rem;
            text-align: center;

            &__style {
                background-color: #1B1B1B;
                width: 40px;
                height: 40px;
                cursor: pointer;
                margin: 0 .5rem;
            }
        }
    }
}

@include mixins.tablet-screen {
    .plays {    
        .playsContent {
            &__text {
                h1 {
                    margin-left: -3.3rem; // Can I fix this?  
                }

                h2 {
                    margin-top: -13rem; // Can I fix this? 
                }
            }

            &__plays {
                img:nth-child(1){
                    margin-right: -3.5rem;
                }

                img:nth-child(3){
                    margin-left: -3.5rem;
                }
            }
        }
    };
}

@include mixins.mobile-screen {
    .plays {
        .playsContent {
            padding: 10rem 2rem;

            &__text {
                h1 {
                    margin-left: -1.3rem; // Can I fix this?
                }

                h2 {
                    margin-top: -7rem; // Can I fix this?
                }
            }
        }
    }
}