.players {
    display: flex;
    justify-content: center;

    .playersContent {
        position: relative;
        padding: 5rem 5rem 25rem 5rem;
        width: 100%;
        max-width: 1366px;

        .playersContent__text {
            h1 {
                font-family: 'a dripping marker';
                opacity: 5%;
                font-size: clamp(4rem, 26vw, 32rem);
                margin-left: -8rem;
                top: 0;
            }

            h2 {
                font-size: clamp(1.4rem, 4vw, 5rem);
                margin-bottom: 4rem;
                margin-top: -14rem;
            }
        }

        .playersContent__box {
            display: flex;
            gap: 2rem;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-bottom: 2rem;

            .playersContent__stats {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                img {
                    margin-right: 1.25rem;
                    width: 288px;
                    height: 360px;
                }

                .playersContent__info {
                    h3 {
                        font-size: 1rem;
                        font-weight: 100;
                        margin-bottom: .25rem;
                    }

                    h2 {
                        font-size: 2.25rem;
                    }

                    .playersContent__info__hw {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 1rem;

                        .playersContent__height, .playersContent__weight {
                            text-align: center;
                            
                            p {
                                font-size: 1rem;
                                font-weight: 100;
                                margin-bottom: .25rem;
                            }

                            span {
                                font-size: 1.5rem;
                            }
                        }
                    }

                    .playersContent__info__stats {
                        margin-top: 5rem;
                        
                        p {
                            margin: 1.25rem 0;
                            font-weight: 100;
                        }
                    }
                }

            }
        }
    }

}

.carousel {
    padding-bottom: 14rem;
    overflow: hidden;

    .carousel__names:first-child {
        animation: scrollXToLeft 50s linear infinite;
    }

    .carousel__names:nth-child(2) {
        margin-left: -3300px;
        animation: scrollXToRight 50s linear infinite;
    }
}

@media screen and (max-width: 1024px) {
    .players {
        .playersContent {
            .playersContent__text {
                h1 {
                    left: 0rem;
                }

                h2, p {
                    padding-left: 3rem;
                }
            }

            .playersContent__box {
                justify-content: center;
                gap: 4rem;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .players {
        .playersContent {
            padding: 8rem 2rem;

            .playersContent__text {
                h2, p {
                    padding: 0;
                }
            }
        }
    }

    .carousel {
        img {
            padding-bottom: 0;
            width: 2000px;
        }
    }
}

@keyframes scrollXToLeft {
    to {
        transform: translateX(-100%);
    }
}

@keyframes scrollXToRight {
    to {
        transform: translateX(100%);
    }
}