@use '../../assets/styles/variables';
@use '../../assets/styles/buttons';
@use '../../assets/styles/displays';
@use '../../assets/styles/mixins';
@use '../../assets/styles/animations';

#header {
    @extend %center-display;
    
    .headerContent {
        padding: 3rem 5rem;
        @include mixins.flex-content(flex, wrap, space-between, center);
        @extend %layout-width;
        
        .logo {
            font-weight: bold;
            font-size: 1.5rem;
        }

        &__menu {
            display: flex;

            .headerContent__menu__item {
                margin: 0 2.5rem;
                
                a {
                    transition: .5s;

                    &:hover {
                        color: variables.$hover-link;
                    }
                }
            }
        }

        .interact {
            display: flex;
            align-items: center;
            
            .btn {
                position: relative;
                padding: .75rem 3rem;
                overflow: hidden;
                transition: .5s;

                @extend %btn-style;
            }
            
            .BiMenu {
                font-size: 1.5rem;
                display: none;
                cursor: pointer;
            }
            
            .changeLanguage {
                position: relative;
                margin-left: 2rem;
                display: flex;

                .changeLanguage__flag {
                    cursor: pointer;
                }

                .BiChevronDown {
                    font-size: 1.5rem;
                }

                .dropdown {
                    display: none;
                    cursor: pointer;
                    position: absolute;
                    top: 3rem;
                    right: -63%; // I can fix this?
                    background-color: variables.$hover-bg;
                    width: 120px; // I can fix this?
                    padding: 1rem;

                    &.active {
                        display: flex;
                    }

                    ul {
                        li {
                            cursor: pointer;
                            transition: .5s;

                            &:hover {
                                color: variables.$hover-link;
                            }

                            &:first-child {
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }

                .dropdown::before {
                    content: '';
                    position: absolute;
                    top: -6px;
                    transform: rotate(135deg);
                    right: 46%;
                    width: 20px;
                    height: 20px;
                    background-color: variables.$hover-bg;
                }

            }
        }
    }
}

@include mixins.tablet-screen {
    #header {
        .headerContent {
            &__nav {
                display: none;
                
                &.active {
                    display: flex;
                    
                    .headerContent__menu {
                        animation: slideInFromBottom .5s ease;
                        flex-direction: column;
                        padding-top: 5rem;
                        gap: 5rem;
                        background-color: rgba(0,0,0,0.9);
                        height: 100vh;
                        left: 0;
                        top: 7rem;
                        text-align: center;
                        position: absolute;
                        width: 100%;
                        z-index: 1;
                    }
                }
            }

            .btn {
                display: none;
            }

            .interact {
                .BiMenu {
                    display: block;
                }
            }
        }
    }
}

@include mixins.mobile-screen {
    #header {
        .headerContent {
            padding: 3rem 2rem;
        }
    }
}