#home {
    display: flex;
    justify-content: center;
    
    .homeContent {
        padding: 6rem 8rem;
        width: 100%;
        
        .homeContent__text {
            h1 {
                font-size: 7.2rem;
            }
    
            p {
                line-height: 1.5rem;
            }
        }

        .btn {
            display: block;
            margin: 4rem auto;
            font-size: 2rem;
            padding: 2rem 4rem;
        }

    }
}