@use '../../assets/styles/buttons';
@use '../../assets/styles/displays';
@use '../../assets/styles/mixins';

.home {
    @extend %center-display;
    
    .homeContent {
        padding: 6rem 5rem;
        @extend %layout-width;
        
        &__text {
            width: 85%;

            h1 {
                font-size: clamp(32px, 7.7vw, 118px); 
            }
    
            p {
                line-height: 1.5rem;
                font-size: clamp(.8rem, 1.1vw, 1rem); 
                text-align: right;
            }
        }

        .btn {
            position: relative;
            display: block;
            margin: 4rem auto;
            font-size: clamp(1rem, 1.5vw, 4rem);
            padding: clamp(1rem, 2vw, 3rem) clamp(2rem, 3vw, 5rem);
            overflow: hidden;
            transition: .5s;
        
            @extend %btn-style;
        }

    }
}

@include mixins.tablet-screen {
    .home {
        .homeContent {
            text-align: center;
            padding: 6rem 0;

            .homeContent__text {
                width: 100%;

                h1 {
                    padding-bottom: 1rem;
                }

                p {
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}

@include mixins.mobile-screen {
    .home {
        .homeContent {
            &__text {
                p {
                    padding: 1rem 5rem;
                }
            }
        }
    }
}