@use '../../assets/styles/variables';
@use '../../assets/styles/displays';
@use '../../assets/styles/mixins';

.champions{
    @extend %center-display;
    
    .championsContent {
        @extend %layout-width;
        padding: 5rem 5rem 25rem 5rem;
        
        &__text {
            text-align: right;
            margin-bottom: 3rem;
            
            h1 {
                @extend %h1-style;
            }
            
            h2 {
                font-size: 4rem;
                margin-top: -20rem;
                margin-bottom: 1rem;
            }
            
            p {
                font-size: 1rem;
                line-height: 1.5;
            }
        }
        
        &__box {
            @include mixins.flex-content(flex, wrap, space-around, center);
            margin-left: -4rem;
            gap: 1rem;
            
            &__stats {
                @include mixins.flex-content(flex, wrap, center, center);
                background-color: variables.$hover-bg;
                position: relative;
                padding: 0 1.5rem;
                height: 240px;
                width: 240px;
                transition: .5s;
                
                img {
                    filter: grayscale(100%);
                    transition: .5s;
                }
                
                &:hover {
                    img {
                        filter: none;
                    }
                }
                
                span {
                    font-size: 2rem;
                    position: absolute;
                    bottom: 13.5rem;
                    right: 13.5rem;
                }

                &:hover:nth-child(1){
                    border-bottom: 5px solid variables.$celtics-color;
                }
                &:hover:nth-child(2){
                    border-bottom: 5px solid variables.$lakers-color;
                }
                &:hover:nth-child(3){
                    border-bottom: 5px solid variables.$warriors-color;
                }
                &:hover:nth-child(4){
                    border-bottom: 5px solid variables.$bulls-color;
                }
                &:hover:nth-child(5){
                    border-bottom: 5px solid variables.$spurs-color;
                }
            }
        }
    }
}

@include mixins.tablet-screen {
    .champions {
        .championsContent {
            padding: 20rem 5rem;
            overflow-x: hidden;

            &__text {
                h2 {
                    margin-top: -12rem;
                    font-size: 3rem;
                }
            }

            &__box {
                justify-content: center;
                margin: 0;
                gap: 4rem;
            }
        }
    }
}

@include mixins.mobile-screen {
    .champions {
        .championsContent {
            padding: 15rem 2rem;

            &__text {
                text-align: center;

                h2 {
                    font-size: 2rem;
                    margin-top: -6rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }
}