@use '../../assets/styles/mixins';
@use '../../assets/styles/animations';

#footer {
    .footerContent {
        text-align: center;
        
        h1 {
            font-size: clamp(1.8rem, 4vw, 5rem);
        }

        p {
            font-weight: 100;
            line-height: 1.5rem;
            margin: 3rem 2rem 5rem 2rem;
        }

        &__socialMedias {
            margin-bottom: 1rem;

            &__logo {
                cursor: pointer;
                width: 40px;
                height: 40px;
                margin: 0 2rem;
                transition: .5s;

                &:hover {
                    transform: translateY(-10%);
                }
            }
        }

        .rights {
            b {
                font-family: 'a dripping marker';
                font-size: 1.5rem;
            }
        }

        .carouselPlayers {
            padding: 2rem 0;
            overflow-x: hidden;
            
            &__box:first-child {
                animation: scrollXToLeft 50s linear infinite;
            }
            
            &__box:nth-child(2) {
                margin-left: -1600px;
                animation: scrollXToRight 50s linear infinite;
            }
        }
    }
}

@include mixins.tablet-screen {
    #footer {
        .footerContent {
            p {
                padding: 0 2rem;
            }
            .carouselPlayers {
                img {
                    width: 2000px;
                }
            }
        }
    }
}