#footer {
    .footerContent {
        text-align: center;

        
        h1 {
            font-size: clamp(1.8rem, 4vw, 5rem);
        }

        p {
            font-weight: 100;
            line-height: 1.5rem;
            margin: 3rem 2rem 5rem 2rem;
        }

        .footerContent__socialMedias {
            margin-bottom: 1rem;

            .footerContent__socialMedias__logo {
                cursor: pointer;
                width: 40px;
                height: 40px;
                margin: 0 2rem;
                transition: .5s;

                &:hover {
                    transform: translateY(-10%);
                }
            }
        }

        .rights {
            b {
                font-family: 'a dripping marker';
                font-size: 1.5rem;
            }
        }

        .carouselPlayers {
            padding: 2rem 0;
            overflow-x: hidden;
            
            
            .carouselPlayers__box:first-child {
                animation: scrollXToLeft 50s linear infinite;
            }
            
            .carouselPlayers__box:nth-child(2) {
                margin-left: -1600px;
                animation: scrollXToRight 50s linear infinite;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #footer {
        .footerContent {
            .carouselPlayers {
                img {
                    width: 2000px;
                }
            }
        }
    }
}

@keyframes scrollXToLeft {
    to {
        transform: translateX(-100%);
    }
}

@keyframes scrollXToRight {
    to {
        transform: translateX(100%);
    }
}