body{
    background-color: #222;
    color: #FFF;
    font-family: 'Dunking Grotesk';
}

a {
    text-decoration: none;
    color: #FFF;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: .25rem;
    color: #FFF;
    cursor: pointer;
    font-family: 'Dunking Grotesk';
    padding: .5rem 2rem;
}