@font-face {
    font-family: 'Dunking Grotesk';
    src: url('./assets/fonts/dunkingGrotesk/DunkingGrotesk-Regular.woff2') format('woff2');
    src: url('./assets/fonts/dunkingGrotesk/DunkingGrotesk-Regular.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Dunking Grotesk';
    src: url('./assets/fonts/dunkingGrotesk/DunkingGrotesk-Bold.woff2') format('woff2');
    src: url('./assets/fonts/dunkingGrotesk/DunkingGrotesk-Bold.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Dripping Marker';
    src: url('./assets/fonts/drippingMarker/DrippingMarker.woff2') format('woff2');
    src: url('./assets/fonts/drippingMarker/DrippingMarker.woff') format('woff');
}

