$primary-color: #FFF;
$secondary-color: #000;
$hover-link: #595959;
$hover-bg: #1e1e1e;
$celtics-color: #008346;
$lakers-color: #FDBA22;
$warriors-color: #17408B;
$bulls-color: #D2153A;
$spurs-color: #D9D9D9;